
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #4A90E2;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
